.filter-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;

    &__form-fields {
        width: 100%;
        padding: 15px 30px;
        color: #000;
        border: none;
        border-radius: 7px;
        ion-icon {
            font-size: 24px;
            color: #8b8b8b;
        }
    }
        
    .search {
        display: flex;
        max-width: 400px;
        background: white;
        input {
            width: 100%;
            padding-left: 20px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }

    select {
        max-width: 150px;
    }
}