<form class="filter-actions" [formGroup]="form">
    <input
        type="text"
        placeholder="Search for a country..."
        formControlName="search"
        class="filter-actions__form-fields shadow-lg"
    />
    <select formControlName="filter" class="filter-actions__form-fields shadow-lg">
        <option value="Filter by region" selected disabled hidden>Filter by region</option>
        @for (item of regions; track item.value) {
            <option [value]="item.value">
                {{ item.label }}
            </option>
        }
    </select>
</form>
