/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #fafafa;
}

.container {
    width: 100%
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

/* responsive */

@media (min-width: 640px) {
    .container {
        max-width:640px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .container {
        max-width:1024px
    }
}

@media (min-width: 1280px) {
    .container {
        max-width:1280px
    }
}

@media (min-width: 1536px) {
    .container {
        max-width:1536px
    }
}